@charset "utf-8";
 

/*共通部分
-----------------*/
html {
    font-size: 100%;
}
body
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*レイアウト*/
.align-center {
    text-align: center;
}
/*見出し*/

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    font-family: "Darumadrop One",sans-serif;   
}
.font-english {
    font-weight: normal;
}
/*ヘッダー
-------------*/
h2 {
    font-family: "Darumadrop One",sans-serif;
}
.page-header {
    padding-top: .5rem;
}
.log {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
/*フッターーーーー*/
.footer {
    margin: 0;
    padding: 0;
    font-family: "Darumadrop One", sans-serif;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 2.0rem;
}

/*画像を丸くさせる*/
.link-image img {
    width: 300px; 
    height: auto; 
    transition: border-radius 0.3s ease; 
}
.link-image img:hover {
    border-radius: 100%; 
}
