@charset "utf-8";
 

/*共通部分
-----------------*/
html {
    font-size: 100%;
}
body {
    line-height: 1.6;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*レイアウト*/
.align-center {
    text-align: center;
}
/*見出し*/

.h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Darumadrop One",sans-serif;   
    line-height: 10.0;
}
.font-english {
    font-weight: normal;

}
/*ヘッダー
-------------*/
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
    font-size: 30px;
}
.cover-home {
    background-image: url(../images/haikei.jpg);

}






h2 {
    font-family: "Darumadrop One",sans-serif;
}
.page-header {
    padding-top: .5rem;
}
.log {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}




